@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

.btn-shadow {
	-webkit-box-shadow: 3px 3px 0px 0px rgb(24, 24, 27);
	-moz-box-shadow: 3px 3px 0px 0px rgb(24, 24, 27);
	box-shadow: 3px 3px 0px 0px rgb(24, 24, 27);
}
